*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --grey-100: rgba(245, 245, 245, 1);
    --shadow-color : #9f9f9f;
    --white : #fff;
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-30: 30px;
    --fs-36: 36px;
    --fs-48: 48px;
    --fw-100 : 100;
    --fw-200 : 200;
    --fw-300 : 300;
    --fw-400 : 400;
    --fw-500 : 500;
    --fw-600 : 600;
    --fw-700 : 700;
    --fw-800 : 800;
    --fw-900 : 900;
    --btn-color : rgba(38, 38, 38, 1);
    --ff-segoe : 'Segoe UI';
    --link-color : #404040;
    --primary-color : #3b49df;
    --radius : 6px;
}
body{
    background-color: var(--grey-100);
    font-family: var(--ff-segoe);
}
a{
    text-decoration: none;
    color: var(--link-color);
}
.d-grid{
    width: 1320px;
    margin: 0 auto;
    display: grid;
    /* height: 100vh; */
    padding-right: 16px;
    padding-left: 16px;
    gap: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.align-items-center{
    align-items: center;
}
.justify-content-between{
    justify-content: space-between;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.r-0{
    right: 0;
}
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
header{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--white);
    /* box-shadow: 0 0 10px var(--shadow-color); */
}
header .logo{
    max-width: 50px;
}
.logo img{
    width: 100%;
    display: block;
}
.search-bar{
    flex-basis: 30%;
    margin-left: 20px;
    border-radius: var(--radius);
}
.search-bar form{
    box-shadow: 0 0 5px var(--shadow-color);
    padding: 10px;
    width: 100%;
}
form input{
    border: none;
}
form .btn{
    border: none;
    background-color: transparent;
    font-size: var(--fs-24);
    color: var(--btn-color);
}
header .cta-btn{
    margin-left: auto;
}
.cta-btn a{
    display: inline-block;
    padding: 8px 10px;
    font-size: var(--fs-base);
    margin-right: 8px;
}
.cta-btn .create-account{
    border: 1px solid var(--primary-color);
    border-radius: var(--radius);
}
.create-account a{
    color: var(--primary-color);
    font-weight: var(--fw-700);
}