*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
}
:root{
    --grey-50: rgba(250, 250, 250, 1);
    --grey-100: rgba(245, 245, 245, 1);
    --grey-200: rgba(229, 229, 229, 1);
    --grey-300: rgba(212, 212, 212, 1);
    --grey-400: rgba(163, 163, 163, 1);
    --grey-500: rgba(115, 115, 115, 1);
    --grey-600: rgba(82, 82, 82, 1);
    --grey-700: rgba(64, 64, 64, 1);
    --grey-800: rgba(38, 38, 38, 1);
    --grey-900: rgba(23, 23, 23, 1);
    --btn-bg-color : rgba(59, 73, 223, 0.1);
    --shadow-color : #9f9f9f;
    --card-border: (var(--grey-900), 0.5);
    --black : #090909;
    --white : #fff;
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-30: 30px;
    --fs-36: 36px;
    --fs-48: 48px;
    --fw-100 : 100;
    --fw-200 : 200;
    --fw-300 : 300;
    --fw-400 : 400;
    --fw-500 : 500;
    --fw-600 : 600;
    --fw-700 : 700;
    --fw-800 : 800;
    --fw-900 : 900;
    --btn-color : rgba(38, 38, 38, 1);
    --tag-bg: var(--btn-bg-color);
    --tag-prefix:var(--primary-color);
    --ff-segoe : 'Segoe UI';
    --link-color : #404040;
    --primary-color : #3b49df;
    --radius : 6px;
    --transition : all 0.5s;
}
body{
    background-color: var(--grey-100);
    font-family: var(--ff-segoe);
}
a{
    text-decoration: none;
    color: var(--link-color);
}
.container{
    max-width: 1320px;
    margin: 0 auto;
}
.p-16{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.py-0{
    padding-top: 0;
    padding-bottom: 0;
}
.mb-8{
    margin-bottom: 8px;
}
.d-grid{
    display: grid;
    gap: 10px;
    grid-template-rows: auto 1fr auto auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.flex-direction-column{
    flex-direction: column;
}
.flex-direction-reverse{
    flex-direction: column-reverse;
}
.row-gap-8{
    row-gap: 8px;
}
.align-items-center{
    align-items: center;
}
.justify-content-between{
    justify-content: space-between;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.r-0{
    right: 0;
}
.d-flex{
    display: flex;
}
.t-center{
    text-align: center;
}
.d-block{
    display: block;
}
.w-100{
    width: 100% !important;
}
.transition{
    transition: var(--transition);
}
.c-link:hover{
    color: var(--primary-color) !important;
    text-decoration: underline;
}
.c-link-block:hover{
    background-color: var(--btn-bg-color);
}
.c-ca:hover{
    background-color: var(--primary-color);
    color: var(--white) !important;
}
header{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--white);
    box-shadow: 0 0 0 1px var(--grey-100);
}
header .logo{
    max-width: 50px;
}
.logo img{
    width: 100%;
    display: block;
}
.search-bar{
    max-width: 420px;
    flex: 1 0;
    margin-left: 20px;
    border: 1px solid var(--grey-500);
    border-radius: var(--radius);
}
.search-bar form{
    width: 100%;
}
form input{
    border: none;
    font-size: var(--fs-16);
    padding: 8px;
    background-color: transparent;
}
form .btn{
    border: none;
    padding: 8px;
    background-color: transparent;
    font-size: var(--fs-24);
    color: var(--btn-color);
    cursor: pointer;
}
header .cta-btn{
    margin-left: auto;
}
.cta-btn a{
    display: inline-block;
    padding: 8px 10px;
    font-size: var(--fs-base);
    margin-right: 8px;
    border-radius: var(--radius);
    text-align: center;
}
.create-account .c-link{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: var(--fw-700);
}

/* Sidebar */

.sidebar  .card{
    padding: 16px;
    background-color: var(--white);
    box-shadow: 0 0 0 1px var(--grey-200);
    border-radius: var(--radius);
}
.sidebar .card .card-subtitle{
    font-size: var(--fs-20);
}
.sidebar .card .card-subtitle .c-link{
    color: var(--primary-color);
    display: inline-block;
}
.flex-direction-reverse > div{
    width: 100%;
}


/* Main */

.main nav .nav-items .nav-item{
    display: inline-block;
    font-size: var(--fs-18);
    color : var(--grey-500);
    padding: 8px 12px;
}
.nav-item.active{
    color: var(--black) !important;
    font-weight: var(--fw-900);
}

.main .featured-card, .main .card-story{
    border-radius: var(--radius);
    box-shadow: 0 0 0 1px var(--grey-300);
}
.main .featured-card .card-story{
    box-shadow: none;
}
.featured-card .featured-img img{
    border-radius: var(--radius) var(--radius) 0 0;
    display: block;
    width: 100%;
}
.card-story{
    padding: 20px;
}
.card-story .card-header .user-profile a{
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--grey-500);
    margin-right: 8px;
}
.user-profile a img{
    display: block;
    object-fit: cover;
    width: 100%;
}
.card-story-body{
    padding-left: 40px;
}
.card-story-title{
    color: var(--grey-900);
    font-size: var(--fs-30);
    margin-bottom: 5px;
}
.card-story-tags li a{
    display: inline-block;
    padding: 5px 8px;
    border-radius: var(--radius);
}
.card-story-tags li a .tag-prefix{
    color: var(--tag-prefix);
}
.card-story-tags li a:hover{
    background-color: var(--tag-bg);
    box-shadow: 0 0 0 1px var(--tag-prefix);
}
.card-story-bottom .card-story-details a, .card-story-bottom .card-story-save a{
    display: inline-block;
    padding: 10px 12px;
    border-radius: var(--radius);
}
.card-story-bottom .card-story-details a .icon, .card-story-bottom .card-story-save a .icon{
    font-size: var(--fs-16);
}
.card-story-bottom a:not(.icon), .read-time{
    font-size: var(--fs-14);
}
.card-story-bottom .card-story-details a:hover, .card-story-bottom .card-story-save a:hover{
    background-color: var(--tag-bg);
}
/* Ads */
.ads .ads-card-secondary{
    background-color: var(--grey-50);
    border-radius: var(--radius);
    box-shadow: 0 0 0 1px var(--grey-300);
}
.ads-card-header{
    padding:  12px 16px;
}
.link{
    color: var(--primary-color);
    font-size: var(--fs-14);
    font-weight: var(--fw-600);
}
.ads-card-header + div a{
    display: block;
    padding: 16px;
    border-bottom: 1px solid var(--grey-100);
}
.ads-card-header + div a:hover{
    background-color: var(--white);
} 
